@use "../abstracts/" as *;

.container {
  --max-width: #{$container-max-width};
  --padding: #{$container-inline-padding} * 2;

  width: min(var(--max-width), 100% - var(--padding));
  margin-inline: auto;
}

.container[data-type="wide"] {
  --max-width: #{$container-max-width-wide};
}
